body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #0f172a;
    color: white;
    text-align: center;
}

header {
    padding: 50px 20px;
    background: #1e293b;
}

section {
    padding: 40px 20px;
}

h2 {
    color: #38bdf8;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

.project {
    background: #1e293b;
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    border-radius: 10px;
}

a {
    color: #38bdf8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    padding: 20px;
    background: #1e293b;
}